
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style */
h1,h2,p,.btn{
    font-family: Azeret Mono;
}
/* Nav container style */
.nav-container{
    display: flex;
    margin-top: 20px;
    padding-left: 106px;
}
.nav-container h2{
    
    font-size: 28px;
    font-weight: 800;
    margin-top: 30px;
}
.nav-container button{
    margin-left: 800px;
    margin-top:30px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid gray;

}
/* hero section design */
.hero-bg-image-container{
  max-width: 1366px;
  height: 607px;
  margin-top: 10px;
  background: url('assets/Hero-bg.png');
  border-style: dashed;
  border-color: rgba(128, 128, 128, 0.658);
}

.hero-title-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    margin-top: 36px;
    margin-bottom: 40px;
   
}
.hero-img{
     margin-top: 10%;
     padding-bottom: 25px; 
    
}
.title-content{
    margin-bottom: 10%;
    text-align: center;
    padding: 20px 30px;
}
.title-content h1{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}
.title-content p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
}
.contract{
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: black;
   
}
.btn{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* web-development-container style */
.web-development-container{
    width: 80%;
    margin: 0 auto;
    height: 1300px;
    margin-top: 70px;
    background: rgba(13, 19, 33, 0.02);;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.web-development-content{
    width: 90%;
    margin: 0 auto;
    height: 90%;
    background-color: white;
    border: 2px solid red;

}
.web-dev-title-content{
    width:70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    margin-bottom: 20px;
}
#title{
   font-family:  Azeret Mono; 
   font-size: 30px;
   font-weight: 800;
   padding-bottom: 20px;
   
}
#para{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(13, 19, 33);
}